@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url(/src/assets/fonts/open_sans/OpenSans-Bold.ttf) format("truetype");
}
body {
  background-color: #f9d1d1;
  margin: 0;
  font-family: "OpenSans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}